{% extends 'base.html.twig' %}

{% block body %}
    <ul>
        <li><a href="{{ path("blague_index") }}">Blagues</a></li>
         <li><a href="{{ path("categorie_index") }}">Catégories</a></li>
         <li><a href="{{ path("client") }}">ClientBundle</a></li>
    </ul>
{% endblock %}


